body {
    background-color: #CAD2C5;
    width:100%;
    height:80%;
}
.auto-style3 {
    margin-left: 40px;
}
.form1 {
    background-color: #84A98C;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    margin: 20px 15px 15px 15px;
}
.table-div {
    width: 250px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 15px 15px 15px;
    padding: 20% 5% 5% 5%;
    background-color: #52796F;
    align-content:center;
}
.container {
  
   
    margin: 10% 20% 20% auto%;
    width: 800px;
    height: 800px;
}

.auto-style5 {
    width: 341px;
}

.auto-style6 {
    width: 18px;
}
#Label2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#Label1 {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}
.h1 {
    font-family: 'Amatic SC', cursive;
}
#Button1 {
    font-family: 'Montserrat', sans-serif;
}